<div class="container">
  <app-header></app-header>
  <br>
  <div class="columns">
    <div class="column is-one-fifth">
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li>
            <a routerLink="/dashboard" [ngClass]="{'is-active': currentPage == 'dashboard'}" (click)="setCurrentPage('dashboard')">Dashboard</a>
          </li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li>
            <a routerLink="/user/list" [ngClass]="{'is-active': currentPage == 'users'}" (click)="setCurrentPage('users')">Users</a>
            <ul>
              <li>
                <a routerLink="/user/new" [ngClass]="{'is-active': currentPage == 'add-a-user'}" (click)="setCurrentPage('add-a-user')">Add a user</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/room/list" [ngClass]="{'is-active': currentPage == 'rooms'}" (click)="setCurrentPage('rooms')">Rooms</a>
            <ul>
              <li>
                <a routerLink="/room/new" [ngClass]="{'is-active': currentPage == 'add-a-room'}" (click)="setCurrentPage('add-a-room')">Add a room</a>
              </li>
            </ul>
          </li>
        </ul>
        <p class="menu-label">
          Transactions
        </p>
        <ul class="menu-list">
          <li>
              <a routerLink="/rental/list" [ngClass]="{'is-active': currentPage == 'rentals'}" (click)="setCurrentPage('rentals')">Rentals</a>
          </li>
          <li>
            <a routerLink="/report" [ngClass]="{'is-active': currentPage == 'report'}" (click)="setCurrentPage('report')">Report</a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="column">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <app-messages></app-messages> -->
</div>
