<div *ngIf="rate">
  <div class="columns">
    <div class="column is-one-third">
      <div class="content">
        <div [hidden]="submitted">
          <h3>
            <strong>{{ rate.id | uppercase }}</strong>
          </h3>
          <form (ngSubmit)="onSubmit()" #rateForm="ngForm">
            <dl>
              <dt>Value</dt>
              <dd>
                <input class="input" type="text" placeholder="{{rate.value}}" [(ngModel)]="rate.value" name="value">
              </dd>
            </dl>
            <div class="field is-grouped">
              <p class="control">
                <a class="button" disabled>
                  Edit
                </a>
              </p>
              <p class="control">
                <button class="button is-info" [disabled]="!rateForm.form.dirty">
                  Save changes
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
      <button class="button" (click)="goBack()">
        <span class="icon is-small">
          <i class="fas fa-angle-left"></i>
        </span>
        <span>Go back</span>
      </button>
    </div>
  </div>
</div>
