<!-- <section class="section"> -->
<!-- <div>
    <a class="button is-primary" routerLink="/user/new">Add User</a>
  </div>
  <br> -->
<div class="content">
  <h3><strong>Room List</strong></h3>
</div>
<div class="columns">
  <div class="column">
    <!-- <ul>
        <li *ngFor="let user of users">
          <a routerLink="/user/{{ user.id }}">
            <span>{{ user.id }}</span> {{ user.name }}
          </a>
        </li>
      </ul> -->
    <!-- <div>{{selectedUser}}</div> -->
    <table class="table is-bordered is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>ID
            <input class="input" #searchBox id="search-box" (keyup)="search(searchBox.value)" value="{{ term }}" />
          </th>
          <th>Rates</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms">
          <td>
            <a routerLink="/room/{{ room.id }}">{{room.id}}</a>
          </td>
          <td>{{room.rates}}</td>
        </tr>
      </tbody>
    </table>
    <nav class="pagination is-right" role="navigation" aria-label="pagination">
      <ul class="pagination-list">
        <li *ngFor="let page of pageCount">
          <a class="pagination-link" [ngClass]="{'is-current': currentPage == page}" (click)="getRooms(page, searchBox.value)">{{page}}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- </div> -->
<!-- </section> -->
